<div class="menu">
    <div class="wrapper">
        <a class="logo" href="/"><img src="/imgs/bank-logo.svg"></a>
        <div class="menu-right"><span>By</span><img src="/imgs/logo.svg"></div>
    </div>
</div>
<div class="page">
    <div class="wrapper">
        <div class="page-content">
            <h1>Welcome back, {{{id}}}</h1>
        </div>
    </div>
</div>
<div class="footer">
    <div class="row">
        <jscrambler>Virtual Bank © All rights reserved</jscrambler>
    </div>
</div>